@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div>
        <a asp-controller="Chicken" asp-action="Create">Click here to go to add a chicken</a>
    </div>
    <div>
        <a asp-controller="Chicken" asp-action="ListChicken">Click here to see the list of chickens</a>
    </div>

</div>
